@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  background-image: url(bg.png);
  background-position: top;
  background-size: cover;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: white;
}

.spazio-bottoni {
  margin: 50px;
}

#contenitore-generale {
  width: 1024px;
  padding: 0 100px;
  margin: auto;
  margin-top: 5%;
}

header img {
  max-width: 200px;
  margin: 50px 0;
  margin-bottom: 0;
}

.bottone-fluorescente {
  width: 250px;
  height: 70px;
  color: black;
  background-color: #00ffff;
  border: none;
  box-shadow: 0px 0px 35px 15px rgba(0, 255, 255, 0.4);
  font-size: 20px;
  font-weight: 700;
}
.bottone-fluorescente:hover {
  width: 250px;
  height: 70px;
  color: white;
  background-color: rgb(157, 1, 141);
  border: none;
  box-shadow: 0px 0px 35px 15px rgba(157, 1, 141, 0.4);
  font-size: 20px;
  font-weight: 700;
}

.bottone-risposte {
  width: 360px;
  height: 80px;
  color: white;
  margin: 10px 25px;
  background-color: rgba(255, 255, 255, 0.178);

  /* border-top: 2px solid transparent; */
  /* border-image: linear-gradient(to top left, transparent, white) 1; */
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  box-shadow: inset 1.5px 1.5px 1px 2px rgba(255, 255, 255, 0.5);
}

.risposta-selezionata {
  width: 360px;
  height: 80px;

  background: linear-gradient(#d20094, #a80076) padding-box,
    linear-gradient(
        to right bottom,
        #ffffff,
        #e3d2f7,
        #d7a2e3,
        #d20094,
        #d20094
      )
      border-box;
  background-clip: padding-box, border-box;

  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  font-weight: 700;
}
.bottone-risposte:hover {
  width: 360px;
  height: 80px;
  color: white;
  margin: 10px 25px;
  background-color: rgba(255, 255, 255, 0.416);
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  box-shadow: inset 1.5px 1.5px 1px 2px rgba(255, 255, 255, 0.7);
}

.rate-us {
  width: 230px;
  height: 70px;
  color: white;
  background: none;
  border: 2px solid white;
  box-shadow: 0px 0px 60px 3px rgba(0, 255, 255, 0.4);
  font-size: 20px;
  font-weight: 700;
}
.rate-us:hover {
  width: 230px;
  height: 70px;
  color: white;
  background: none;
  border: 2px solid rgb(157, 1, 141);
  box-shadow: 0px 0px 35px 15px rgba(157, 1, 141, 0.4);
  font-size: 20px;
  font-weight: 700;
}

.grassetto {
  font-weight: bold;
}

/* ----------------------------------- WELCOME */
#main-welcome {
  width: 1024px;
  height: 768px;
  position: relative;
  margin: 0 auto;
}

#welcome {
  position: absolute;
  font-weight: 400;
  font-size: 100px;
  margin: 100px 0;
}

#termini {
  position: absolute;
  bottom: 0;
  left: 0;
}

#bottone-welcome {
  position: absolute;
  bottom: 0;
  right: 0;
}

#instructions {
  position: absolute;
  top: 40%;
  left: 0;
}

li {
  margin: 10px;
  font-size: 1.3em;
}

#promise {
  padding: 27px 0;
}

#istruzioni {
  color: #d20094;
  font-size: 40px;
  margin-bottom: 0;
}

#instructions p {
  margin: 20px 0;
  font-size: 1.3em;
}

#termini p {
  margin: 0;
}

#bottone_welcome {
  width: 50px;
  height: 50px;
}
#tasto {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 3px solid white;
  margin: -5px 20px -5px 0px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
#tasto:checked {
  background-color: transparent;
}
#tasto:checked::after {
  content: "✔";
  position: absolute;
  top: -2px;
  left: 2px;
  font-size: 14px;
  color: white;
}
/* --------------------------------------------- QUIZ */
#contenitore-risposte-main {
  position: absolute;
  width: 1024px;
  height: 300px;
}

#contenitore-risposte {
  position: relative;
  height: 250px;
  width: 850px;
  margin: 0 auto;
}

#answers {
  width: 850px;
}

#contenitore-domanda-main {
  position: absolute;
  width: 1024px;
}

.domanda {
  position: relative;
  width: 800px;
  height: 200px;
}

.domanda-corrente {
  margin: 0;
  position: absolute;
  bottom: 0;
  font-size: 40px;
  width: 800px;
}

#counter-questions {
  padding-bottom: 13px;
  margin: 0px;
  position: absolute;
  left: 0;
  bottom: 0px;
}
#questo {
  margin: 0px;
}
#bottone-avanti {
  padding: 0px;
  box-shadow: none;
  background-color: transparent;

  height: 50px;
  width: 50px;
  position: absolute;
  right: 0;
  cursor: pointer;
  bottom: 0;
}

#dom-ris {
  position: relative;

  height: 50px;
}
#iconagiada {
  font-size: 40px;
  border-radius: 100%;
  color: #00ffff;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.6), 0 0 20px rgba(0, 255, 255, 0.5),
    0 0 40px rgba(0, 255, 255, 0.4);
  background-color: #00ffff5b;
}
#iconagiada:hover {
  font-size: 40px;
  border-radius: 100%;
  color: rgb(157, 1, 141);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.6), 0 0 20px rgba(0, 255, 255, 0.5),
    0 0 40px rgba(0, 255, 255, 0.4);
  background-color: rgba(157, 1, 141, 0.316);
  border: none;
  box-shadow: 0px 0px 35px 15px rgba(157, 1, 141, 0.4);
}
#contenitoredim {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 1024px;
}
#main-quiz {
  position: relative;
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  text-align: center;
}

#contenitore-generale-quiz {
  width: 1024px;
  padding: 0 100px;
  margin: auto;
  margin-top: 7.5%;
}

#header-quiz {
  position: relative;
}

.logo-quiz {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.domanda {
  margin: 0 auto;
  padding-top: 160px;
  font-size: 55px;
}

#tempo {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

#counter-questions {
  margin-top: 100px;
  font-size: 20px;
  font-weight: 500;
}

#total-counter {
  color: #d20094;
}

.timer {
  width: 130px;
  height: 130px;
  position: relative;
}

#progress-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  background: conic-gradient(#00ffff 0deg, #00ffff 360deg);
  /* per nascondere l'interno del cerchio e lasciare solo il bordo visibile
  -webkit è per safari; mask per tutti gli altri browser */
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 15px),
    white calc(0% - 8px)
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 15px),
    white calc(0% - 8px)
  );
}

.timer-text {
  width: 130px;
  height: 130px;
  padding: 12px 0;
  color: white;
  text-align: center;
  font-size: 14px;
}

.timer-text span {
  font-size: 3rem;
  font-weight: 700;
  color: white;
}

.timer-text small {
  font-size: 0.5rem;
  color: white;
  font-weight: 400;
}

#blocco-in-basso {
  position: relative;
  width: 850px;
  margin: 0 auto;
  height: 300px;
}
#blocco-in-basso-2 {
  position: absolute;
  width: 850px;
  bottom: 0;
}
/* ------------------------------ FEEDBACK */
#main-feedback {
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  text-align: center;
}

#commenthere {
  outline-width: 0;

  color: white;
  width: 80%;
  margin: 2em;
  padding-bottom: 6px;
  background-color: transparent;
  border-bottom: solid 3px;
  border-bottom-color: #881b80;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: 18px;
}

#stars-container {
  margin-bottom: 100px;
}

.strs {
  display: inline-block;
  size: 20px;
  margin: 5px;
  width: 50px;
  height: auto;
}
.titleh {
  font-size: 3em;
  font: bold;
  padding-top: 90px;
}
.feedback {
  font-size: 1.8em;
}

#more-info-container {
  margin-top: 35px;
}

/* ---------------------------------------------- RESULTS */

#main-results {
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  text-align: center;
  padding-top: 70px;
  position: relative;
}

#results {
  font-size: 50px;
  margin-bottom: 0;
}

#summary {
  font-weight: 300;
  font-size: 25px;
  margin-top: 10px;
}

#wrong {
  position: absolute;
  top: 42%;
  text-align: right;
  right: 0;
}

#correct {
  position: absolute;
  text-align: left;
  top: 42%;
}

.titolo-results {
  margin: 0;
  padding: 0;
  font-size: 50px;
}

.percentuale {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: bold;
}

.n-domande {
  font-size: 20px;
  margin-top: 6px;
}

#grafico {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
}

.chart-center-text {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  line-height: 1.2;
  font-size: 1rem;
  text-align: center;
  color: white;
  z-index: 10;
}

.chart-center-text strong {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #00ffff;
}
/* --------------------- prova feedback */
#feedback {
  width: 850px;
  margin-top: 15px;
}
/*------------------------config*/
.config-container {
  width: 1024px;
  height: 768px;
}

.difficulty-btn {
  width: 167px;
  height: 45px;
  color: black;
  background-color: #00ffff;
  border: none;
  box-shadow: 0px 0px 35px 15px rgba(0, 255, 255, 0.4);
  font-size: 19px;
  font-weight: 500;
  margin: 0 20px;
}
.istru li {
  list-style-type: none;
  font-size: 16px;
}
.boh {
  font-size: 20px;
}
.istru {
  padding: 0 0 0 25px;
}
h1 {
  font-size: 50px;
}
#warning {
  background-color: rgba(255, 255, 255, 0.381);
  height: 60px;
  border-radius: 20px;
  padding-left: 30px;
  padding-top: 4px;
}

#icona-testo {
  height: 20px;
}
#icona-testo p {
  margin: 0;
}

#aiuto2 {
  padding-bottom: 25px;
}

#icona-testo {
  display: flex;
  align-items: center;
  gap: 5px;
}

#aiuto2 {
  padding-bottom: 0px;
  padding-top: 5px;
}

#aiuto ion-icon {
  vertical-align: middle;
}
.prete {
  display: flex;
  align-items: center;
  gap: 5px;
}
.punttt {
  vertical-align: middle;
}
