/* --------------------------- IMPOSTAZIONI GENERALI */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  background-image: url(img/bg.jpg);
  background-position: top;
  background-size: cover;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}

/* ------------------------------ DOCUMENTO */

.spazio-bottoni {
  margin: 50px;
}

#contenitore-generale {
  width: 80%;
  margin: 0 auto;
}

header img {
  max-width: 200px;
  margin: 50px 0;
}

.bottone-fluorescente {
  width: 250px;
  height: 70px;
  color: black;
  background-color: #00ffff;
  border: none;
  box-shadow: 0px 0px 35px 15px rgba(0, 255, 255, 0.4);
  font-size: 20px;
  font-weight: 700;
}

.bottone-risposte {
  width: 360px;
  height: 75px;
  color: white;
  background-color: rgba(255, 255, 255, 0.178);
  border: 3px solid white;
  /* border: 2px solid transparent;
  border-image: linear-gradient(to top left, transparent, white) 1; */
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
}

.risposta-selezionata {
  width: 360px;
  height: 75px;
  color: white;
  background-color: #d20094;
  border: 3px solid white;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
}

.rate-us {
  width: 230px;
  height: 70px;
  color: white;
  background: none;
  border: 2px solid white;
  box-shadow: 0px 0px 60px 3px rgba(0, 255, 255, 0.4);
  font-size: 20px;
  font-weight: 700;
}

#grafico {
  width: 500px;
  height: 500px;
}
#commenthere {
  width: 50%;
  margin: 2em;
  background-color: transparent;
  border-bottom: solid 1.5px;
  border-bottom-color: #881b80;
  border-left: none;
  border-right: none;
  border-top: none;
}
.center {
  text-align: center;
}
.strs {
  display: inline-block;
  size: 15px;
  padding: 1em;
}
.titleh {
  font: bold;
}
