@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  background-image: url(./bg.jpg);
  background-position: top;
  background-size: cover;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: white;
}

.spazio-bottoni {
  margin: 50px;
}

#contenitore-generale {
  width: 1024px;
  padding: 0 100px;
  margin: auto;
  margin-top: 5%;
}

header img {
  max-width: 200px;
  margin: 50px 0;
  margin-bottom: 0;
}

.bottone-fluorescente {
  width: 250px;
  height: 70px;
  color: black;
  background-color: #00ffff;
  border: none;
  box-shadow: 0px 0px 35px 15px rgba(0, 255, 255, 0.4);
  font-size: 20px;
  font-weight: 700;
}

.bottone-risposte {
  width: 360px;
  height: 80px;
  color: white;
  margin: 10px 25px;
  background-color: rgba(255, 255, 255, 0.178);
  border: 3px solid white;
  /* border: 2px solid transparent;
  border-image: linear-gradient(to top left, transparent, white) 1; */
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
}

.risposta-selezionata {
  width: 360px;
  height: 75px;
  color: white;
  background-color: #d20094;
  border: 3px solid white;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
}
.risposta-selezionata:hover {
  background-color: #d2009386;
}
.rate-us {
  width: 230px;
  height: 70px;
  color: white;
  background: none;
  border: 2px solid white;
  box-shadow: 0px 0px 60px 3px rgba(0, 255, 255, 0.4);
  font-size: 20px;
  font-weight: 700;
}

.grassetto {
  font-weight: bold;
}

/* ----------------------------------- WELCOME */
#main-welcome {
  width: 1024px;
  height: 768px;
  position: relative;
  margin: 0 auto;
}

#welcome {
  position: absolute;
  font-weight: 400;
  font-size: 100px;
  margin: 100px 0;
}

#termini {
  position: absolute;
  bottom: 0;
  left: 0;
}

#bottone-welcome {
  position: absolute;
  bottom: 0;
  right: 0;
}

#instructions {
  position: absolute;
  top: 40%;
  left: 0;
}

li {
  margin: 10px;
  font-size: 1.3em;
}

#promise {
  padding: 27px 0;
}

#istruzioni {
  color: #d20094;
  font-size: 40px;
  margin-bottom: 0;
}

#instructions p {
  margin: 20px 0;
  font-size: 1.3em;
}

#termini p {
  margin: 0;
}

#bottone_welcome {
  width: 50px;
  height: 50px;
}
#tasto {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 3px solid white;
  margin: -5px 20px -5px 0px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
#tasto:checked {
  background-color: transparent;
}
#tasto:checked::after {
  content: "✔";
  position: absolute;
  top: -2px;
  left: 2px;
  font-size: 14px;
  color: white;
}
/* --------------------------------------------- QUIZ */

#contenitore-generale-quiz {
  width: 1024px;
  padding: 0 100px;
  margin: auto;
  margin-top: 7.5%;
}

#main-quiz {
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  text-align: center;
}

#header-quiz {
  position: relative;
}

.logo-quiz {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.domanda {
  margin: 0 auto;
  padding-top: 160px;
  font-size: 55px;
}

#tempo {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

#counter-questions {
  margin-top: 100px;
  font-size: 20px;
  font-weight: 500;
}

#total-counter {
  color: #d20094;
}

.timer {
  width: 130px;
  height: 130px;
  position: relative;
}

#progress-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  background: conic-gradient(#00bcd4 0deg, #00bcd4 360deg, transparent 360deg);
  /* per nascondere l'interno del cerchio e lasciare solo il bordo visibile
  -webkit è per safari; mask per tutti gli altri browser */
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 8px),
    white calc(100% - 8px)
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 8px),
    white calc(100% - 8px)
  );
}

.timer-text {
  width: 130px;
  height: 130px;
  padding: 12px 0;
  color: white;
  text-align: center;
  font-size: 14px;
}

.timer-text span {
  font-size: 3rem;
  font-weight: 700;
  color: white;
}

.timer-text small {
  font-size: 0.5rem;
  color: white;
  font-weight: 400;
}
#answer {
}
/* ------------------------------ FEEDBACK */
#main-feedback {
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  text-align: center;
}

#commenthere {
  outline-width: 0;

  color: white;
  width: 80%;
  margin: 2em;
  padding-bottom: 6px;
  background-color: transparent;
  border-bottom: solid 3px;
  border-bottom-color: #881b80;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: 18px;
}

#stars-container {
  margin-bottom: 100px;
}

.strs {
  display: inline-block;
  size: 20px;
  margin: 5px;
  width: 50px;
  height: auto;
}
.titleh {
  font-size: 3em;
  font: bold;
  padding-top: 90px;
}
.feedback {
  font-size: 1.8em;
}

#more-info-container {
  margin-top: 35px;
}

/* ---------------------------------------------- RESULTS */

#main-results {
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  text-align: center;
  padding-top: 70px;
  position: relative;
}

#results {
  font-size: 50px;
  margin-bottom: 0;
}

#summary {
  font-weight: 300;
  font-size: 25px;
  margin-top: 10px;
}

#wrong {
  position: absolute;
  top: 42%;
  text-align: right;
  right: 0;
}

#correct {
  position: absolute;
  text-align: left;
  top: 42%;
}

.titolo-results {
  margin: 0;
  padding: 0;
  font-size: 50px;
}

.percentuale {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: bold;
}

.n-domande {
  font-size: 20px;
  margin-top: 6px;
}

#grafico {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
}

.chart-center-text {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  line-height: 1.2;
  font-size: 1rem;
  text-align: center;
  color: white;
  z-index: 10;
}

.chart-center-text strong {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #00ffff;
}
/* --------------------- feedback */
#feedback {
  margin-top: 1em;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px 0;
  min-height: 30px;
  text-align: center;
}
